importFrom("stats", "coef", "na.omit", "rnorm", "runif")
#importFrom("FrF2", "catlg")
import(ggplot2, png)
export("paretoPlot")
export("tradeOffTable")
export("popcorn")
export("grocery")
export("manufacture")