importFrom("stats", "coef", "na.omit", "rnorm", "runif")
importFrom("grDevices", "terrain.colors")
#importFrom("ggplot2", "..level..")
importFrom("FrF2", "catlg", "nfac", "nruns")
importFrom("DoE.base", "generators")
import(ggplot2, png)
export("paretoPlot")
export("tradeOffTable")
export("popcorn")
export("grocery")
export("manufacture")
export("contourPlot")
export("tradeoff")

